body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne sur les petits écrans */
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #000000;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px; /* Ajoute de la marge en bas sur les petits écrans */
}

.logo {
    background-color: #03A64A;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}

.brand-name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.brand-name:hover { /* Correction de la faute de frappe "braand-name" */
    color: #03a64a;
    text-decoration: underline;
}

.navbar-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne */
    margin: 0;
    padding: 0;
    color: #000000;
    margin-bottom: 10px; /* Ajoute de la marge en bas sur les petits écrans */
}

.navbar-links li {
    margin: 5px 10px; /* Réduit la marge pour plus de flexibilité */
}

.navbar-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px; /* Taille de police plus petite par défaut */
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #03A64A;
}

.navbar-links a.active,
.navbar-actions a.active {
    color: #03A64A;
    font-weight: bold;
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne */
    align-items: center;
}

.navbar-actions .login,
.register-btn {
    margin: 5px 10px; /* Réduit la marge pour plus de flexibilité */
    text-decoration: none;
    color: #000000;
    font-size: 16px; /* Taille de police plus petite par défaut */
    transition: color 0.3s ease;
}

.navbar-actions .login:hover,
.navbar-actions .register-btn:hover {
    color: #03A64A;
    text-decoration: underline;
}

/* Media query pour les écrans plus petits (par exemple, les mobiles) */
@media (max-width: 768px) {
    .navbar-brand,
    .navbar-links,
    .navbar-actions {
        flex-basis: 100%; /* Occupe toute la largeur */
        text-align: center; /* Centre le texte */
    }

    .navbar-links {
        margin-top: 10px; /* Ajoute de la marge en haut pour séparer les éléments */
    }
}