body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #000000;
}
.navbar-brand {
    display: flex;
    align-items: center;
    color: #000000;
}
.logo {
    background-color: #03A64A; /* Couleur verte */
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
}
.brand-name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}
.braand-name hover{
    color: #03a64a;
    text-decoration: underline;
}
.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: #000000;
}
.navbar-links li {
    margin: 0 10px;
}
.navbar-links a { /* Style par défaut des liens */
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: color 0.3s ease; /* Ajout d'une transition pour la couleur */
}
.navbar-links a:hover {
    text-decoration: underline;
    color: #03A64A;
}
.navbar-links a.active,  /* Style pour les liens de navigation actifs (y compris la marque) */
.navbar-actions a.active { /* Style pour les boutons d'action actifs */
    color: #03A64A; /* Couleur verte (ou la couleur que vous souhaitez) */
    font-weight: bold; /* Optionnel: Mettre en gras le lien actif */
    text-decoration: underline; /* Optionnel: Ajouter un soulignement */
}
.navbar-actions {
    display: flex; /* Pour aligner les boutons côte à côte */
    align-items: center; /* Pour les centrer verticalement */}
.navbar-actions .login, .register-btn {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: color 0.3s ease; /* Ajout d'une transition pour la couleur */
}
.navbar-actions .login:hover, .register-btn:hover {
    color: #03A64A; /* Changer la couleur au survol */
    text-decoration: underline;
}
