.accueil-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5faff;
    padding: 40px 20px;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    align-items: center;
}

.text-section {
    flex: 1;
}

.text-section h1 {
    font-size: 36px;
    color: #1f2937; /* Couleur du texte principal */
    margin-bottom: 20px;
}

.text-section p {
    font-size: 18px;
    color: #4b5563; /* Couleur secondaire */
    margin-bottom: 20px;
}

.actions {
    display: flex;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.blue-btn {
    background-color: #007BFF;
}

.blue-btn:hover {
    background-color: #0056b3;
}

.green-btn {
    background-color: #03A64A;
}

.green-btn:hover {
    background-color: #027a36;
}

.image-section img {
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
