.rejoindre-equipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.rejoindre-equipe-container .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.rejoindre-equipe-container h1, .rejoindre-equipe-container p {
    text-align: center;
}

.rejoindre-equipe-container fieldset {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.rejoindre-equipe-container legend {
    font-weight: bold;
}

.rejoindre-equipe-container .form-group {
    margin-bottom: 15px;
}

.rejoindre-equipe-container label {
    display: block;
    margin-bottom: 5px;
}

.rejoindre-equipe-container input, .rejoindre-equipe-container select {
    width: calc(100% - 12px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.rejoindre-equipe-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Optionnel: Styles pour les erreurs de validation */
.rejoindre-equipe-container input:invalid {
    border-color: red;
}

.rejoindre-equipe-container input:invalid + span { /* Style pour afficher un message d'erreur à côté du champ */
    color: red;
}